/* You can add global styles to this file, and also import other style files */
body{
    background-color: url('/analog-clock/public/more-leaves-on-green.png');
    background-repeat: repeat;
    background-size: auto;
}